@using System.Text.RegularExpressions;
@model PlayerViewModel

@{
    ViewBag.Title = "Player Details";
}

<h2 class="text-center">@ViewBag.Title</h2>


<div class="container" style="display:inline">
    <div class="row">
        <div class="card col-8 border-0">
            <p style="font-size:25px;">@Model.UserName</p>
            <p>
                Skill Level:
                <b>@Model.SkillLevel.ToString()</b>
            </p>
            <p>
                Class:
                <b>@Model.PlayerClassName</b>
            </p>
            @if (Model.TeamId != null)
            {
                <p>
                    Team:
                    <a class="btn btn-primary" asp-controller="Teams" asp-action="Details" asp-route-id="@Model.TeamId"><b>@Model.TeamName</b></a>
                </p>
            }
            else
            {
                <p>
                    Team:
                    <b>
                        Not in team
                    </b>
                </p>
            }
            <p>
                Status:
                <b>
                    @string.Join(" ", Regex.Matches(Model.PlayerStatus.ToString(), "[A-Z][a-z]*").Select(m => m.Value).ToArray())
                </b>
            </p>
            <div class="container">
                <h2>Clothes</h2>
                @foreach (var clothing in Model.Clothes)
                {
                    <a class="btn" asp-area="Matchmaker" asp-controller="Clothes" asp-action="Details" asp-route-id="@clothing.Id">

                        <div class="card" style="width: 18rem;">
                            <div class="card-body">
                                <h5 class="card-title">@clothing.Name</h5>
                                @if (clothing.ImageUrl != null)
                                {
                                    <img class="w-25" src="@clothing.ImageUrl" />
                                }
                                <p class="card-text"></p>
                            </div>
                        </div>
                    </a>
                }
            </div>
            <div class="container">
                <h2>Weapons</h2>
                @foreach (var weapon in Model.Weapons)
                {
                    <a class="btn" asp-area="Matchmaker" asp-controller="Weapons" asp-action="Details" asp-route-id="@weapon.Id">
                        <div class="card" style="width: 18rem;">
                            <div class="card-body">
                                <h5 class="card-title">@weapon.Name</h5>
                                @if (weapon.ImageUrl != null)
                                {
                                    <img class="w-25" src="@weapon.ImageUrl" />
                                }
                                @*else
                            {
                            <img src=""  />
                            }*@
                                <p class="card-text"></p>
                            </div>
                        </div>
                    </a>
                }
            </div>
        </div>
    </div>
</div>
