@using System.Text.RegularExpressions;
@model IEnumerable<BetListModel>
<table class=" table table-bordered  table-striped" style="width:100%">
    <thead>
        <tr>
            <th>
                Game Name
            </th>
            <th>
                Credits bet
            </th>
            <th>
                Odds
            </th>
            <th>
                Picked team
            </th>
            <th>
                Status
            </th>
            <th>

            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var bet in Model)
        {
            <tr>
                <td width="50%">
                    @bet.GameName
                </td>
                <td width="30%">
                    @bet.CreditsBet credits
                </td>
                <td width="30%">
                    @bet.Odds
                </td>
                <td width="30%">
                    @bet.ChosenTeamName
                </td>
                <td width="30%">
                    @string.Join(" ", Regex.Matches(bet.BetStatus.ToString(), "[A-Z][a-z]*").Select(m => m.Value).ToArray())
                </td>
                <td>
                    <div class="w-75 btn-group" role="group">
                        <a asp-controller="Bets" asp-action="Details" asp-route-id="@bet.Id" class="btn btn-primary mx-2">
                            <i class="bi bi-info-square-fill"></i>
                            Details
                        </a>
                    </div>
                    @if (bet.BetStatus == BetStatus.Active)
                    {
                        <div class="w-75 btn-group" role="group">
                            <a asp-controller="Bets" asp-action="Delete" asp-route-betId="@bet.Id" asp-route-gameId="@bet.GameId" class="btn btn-danger mx-2">
                                <i class="bi bi-info-square-fill"></i>
                                Delete
                            </a>
                        </div>
                    }
                </td>
            </tr>
        }
    </tbody>

</table>
