@using AirsoftMatchMaker.Core.Contracts;
@using AirsoftMatchMaker.Web.Extensions;
@inject IPlayerService playerService
@model ClothesQueryModel

@{
    ViewBag.Title = "Clothes";
    var userCredits = await playerService.GetPlayersAvailableCreditsAsync(User.Id());



    var previousPage = Model.CurrentPage - 1;

    if (previousPage < 1)
    {
        previousPage = 1;
    }

    var maxPage = Math.Ceiling((double)Model.ClothesCount /
    Model.ClothesPerPage);
    var shouldButtonBeDisabled = Model.CurrentPage == maxPage ||
          !Model.Clothes.Any();
}
<input id="userCredits" value="@userCredits" hidden />
<form method="get">
    <div class="row mt-6 mb-6">
        <div class="d-flex justify-content-between">
            <div class="form-group">
                <label asp-for="ClothingColor">Colour</label>
                <select asp-for="ClothingColor" class="form-select">
                    @foreach (var clothingColor in Model.Colors)
                    {
                        if (clothingColor != "All")
                        {
                            <option value="@(Enum.Parse<ClothingColor>(clothingColor))">@string.Join(" ", Regex.Matches(clothingColor.ToString(), "[A-Z][a-z]*").Select(m => m.Value).ToArray())</option>
                        }
                        else
                        {
                            <option value="@null">All</option>
                        }
                    }
                </select>
            </div>
            <div class="form-group">
                <label asp-for="Sorting"></label>
                <select asp-for="Sorting" class="form-select">
                    @foreach (var sorting in Model.SortingOptions)
                    {
                        <option value="@sorting">@string.Join(" ", Regex.Matches(sorting.ToString(), "[A-Z][a-z]*").Select(m => m.Value).ToArray())</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <label asp-for="SearchTerm">Search</label>
                <input asp-for="SearchTerm" class="form-control" placeholder="...">
            </div>
            <div class="form-group ">
                <label asp-for="ClothesPerPage">Items per page</label>
                <select asp-for="ClothesPerPage" class="form-select">
                    @for (int i = 1; i < 13; i++)
                    {
                        <option value="@i">@i</option>
                    }
                </select>
            </div>
        </div>
    </div>
    <br />


    <div class="row mb-5">

        <div class="col-md-6 d-grid gap-2 d-md-flex justify-content-md-start">
            <a class="btn btn-primary btn-lg @(Model.CurrentPage == 1 ? "disabled" : string.Empty)"
               asp-area="Player"
               asp-controller="Clothes"
               asp-action="Index"
               asp-route-currentPage="@previousPage"
               asp-route-clothingColor="@Model.ClothingColor"
               asp-route-searchTerm="@Model.SearchTerm"
               asp-route-clothesPerPage="@Model.ClothesPerPage"
               asp-route-sorting="@((int)Model.Sorting)"><i class="bi bi-arrow-left-square"></i></a>
        </div>

        <div class="col-md-6 d-grid gap-2 d-md-flex justify-content-md-end">
            <a class="btn btn-primary btn-lg @(shouldButtonBeDisabled ? "disabled" : string.Empty)"
               asp-area="Player"
               asp-controller="Clothes"
               asp-action="Index"
               asp-route-currentPage="@(Model.CurrentPage + 1)"
               asp-route-clothingColor="@Model.ClothingColor"
               asp-route-searchTerm="@Model.SearchTerm"
               asp-route-clothesPerPage="@Model.ClothesPerPage"
               asp-route-sorting="@((int)Model.Sorting)"><i class="bi bi-arrow-right-square"></i></a>
        </div>
        <div class="text-center btn-lg">
            <button type="submit" class="btn btn-primary btn-lg">Filter</button>
        </div>
    </div>
</form>
@if (Model.Clothes.Count() == 0)
{
    <h2 class="text-center">No clothes meet the current criteria!</h2>
}
else
{
    <div class="row">
        @foreach (var clothing in Model.Clothes)
        {
            @if (userCredits > clothing.Price)
            {
                ViewBag.CanBuy = true;
            }
            else
            {
                ViewBag.CanBuy = false;
            }
            <partial name="_ClothingPartial" model="@clothing" />
        }
    </div>
}