@using System.Text.RegularExpressions;
@model GameCreateModel

<h2 class="text-center">Create Game</h2>

<div class="row">
    <div class="col-sm-12 offset-lg-2 col-lg-8 offset-xl-3 col-xl-6">
        <section>
            <form asp-area="Matchmaker" asp-controller="Games" asp-action="Create" method="post">
                <div class="form-group">
                    <label  asp-for="DateString" >@Model.DateString</label>
                    <input asp-for="DateString" class="form-control" disabled />
                    <input asp-for="DateString" class="form-control" hidden />
                    <span asp-validation-for="DateString" class="small text-danger"></span>
                </div>
                <div class="form-group">
                    <input asp-for="Teams" class="form-control" hidden />
                </div>
                <div class="form-group">
                    <input asp-for="Maps" class="form-control" hidden />
                </div>
                <div class="form-group">
                    <label asp-for="EntryFee"></label>
                    <input asp-for="EntryFee" class="form-control" />
                    <span asp-validation-for="EntryFee" class="small text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="MapId">Map</label>
                    <select asp-for="MapId" class="form-control">
                        @foreach (var map in Model.Maps)
                        {
                            <option value="@map.Id">@map.Name</option>
                        }
                    </select>
                    <span asp-validation-for="MapId" class="small text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="TeamRedId">Team Red</label>
                    <select asp-for="TeamRedId" class="form-control">
                        @foreach (var team in Model.Teams)
                        {
                            <option value="@team.Id">@team.Name</option>
                        }
                    </select>
                    <span asp-validation-for="TeamRedId" class="small text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="TeamBlueId">Team Blue</label>
                    <select asp-for="TeamBlueId" class="form-control">
                        @foreach (var team in Model.Teams)
                        {
                            <option value="@team.Id">@team.Name</option>
                        }
                    </select>
                    <span asp-validation-for="TeamBlueId" class="small text-danger"></span>
                </div>
                <div class="text-center">
                    <button class="btn btn-primary mt-3" type="submit" value="Import">Import</button>
                </div>
            </form>
        </section>
    </div>
</div>

<script ></script>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}