@using System.Text.RegularExpressions;
@model GameModeViewModel

@{
    ViewBag.Title = "Game Mode Details";
}

<h2 class="text-center">@ViewBag.Title</h2>


<div class="container" style="display:inline">
    <div class="row">
        <div class="card col-8 border-0">
            <p style="font-size:25px;">@Model.Name</p>

            <p>
                Description: @Model.Description
            </p>
            <p>
                Points required to win:
                <b>
                    @Model.PointsToWin points
                </b>
            </p>
            <div class="container">
                <h2>Maps which feature this game mode: </h2>
                @foreach (var map in Model.Maps)
                {
                    <partial name="_MapMinPartial" model="@map" />
                }
            </div>
        </div>
        </section>
        <hr />
        <section class="text-center mt-6 mb-6">
            <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseGames" aria-expanded="false" aria-controls="collapseGames">
                <h5>Games with this gamemode: @Model.Games.Count </h5>
            </button>
            <div class="collapse" id="collapseGames">
                <div class="row">
                    @foreach (var game in Model.Games)
                    {
                        <a class="btn" asp-controller="Games" asp-action="Details" asp-route-id="@game.Id">

                            <div class="card" style="width: 18rem;">
                                <div class="card-body">
                                    <h5 class="card-title">@game.Name</h5>
                                    <p class="card-text"></p>
                                </div>
                            </div>
                        </a>
                    }
                </div>
            </div>
    </div>
</div>
</div>