@using System.Text.RegularExpressions;
@model MapViewModel

@{
    string img = @Model.ImageUrl != null ? @Model.ImageUrl : $"/img/Default/Maps/{Model.Terrain}.jpg";
    ViewBag.Title = "Map Details";
}
<h1 class="text-center mt-6 mb-6">@Model.Name</h1>
<article class="mt-6 mb-6 bg-white bg-opacity-25 border border-dark">
    <div class="text-center">
        <p>
            <h4>
                Size :
                <b>
                    @Model.Mapsize
                </b>
            </h4>
        </p>
        <p>
            <h4>
                Game mode:
                <b>
                    @Model.GameModeName
                </b>
            </h4>
        </p>
        <p>
            <h4>
                Terrain type:
                <b>@string.Join(" ", Regex.Matches(Model.Terrain.ToString(), "[A-Z][a-z]*").Select(m => m.Value).ToArray())</b>
            </h4>
        </p>
        <p>
            <h4>
                Average engagement distance:
                <b>
                    @Model.AverageEngagementDistance
                </b>
            </h4>
        </p>
    </div>
    <div class="container mt-6 mb-6">
        <div class="text-center mt-6 mb-6">
            <img class="" style="width: 20rem;"
                 src="@img" alt="Weapon Image">

            <div class="text-center mt-6 mb-6">
                <p style="font-size:40px;">
                    @Model.Description
                </p>
            </div>
            <div class="mt-6 mb-6 text-center">
                <p>
                    <h4>
                        Games played:
                        <b>
                            @Model.Games.Count
                        </b>
                    </h4>
                </p>
            </div>
        </div>
    </div>
</article>