@model AmmoBoxViewModel

@{
    //string img = @Model.ImageUrl != null ? @Model.ImageUrl : $"/img/Default/Clothes/{Model.ClothingColor}.jpg";
    ViewBag.Title = "Ammo Box Details";
}




<h1 class="text-center mt-6 mb-6">@Model.Name</h1>
<article class="mt-6 mb-6 bg-white bg-opacity-25 border border-dark">
    <div class="text-center">
        <p>
            <h4>
                Amount :
                <b>@Model.Amount</b>
            </h4>
        </p>
        <p>
            <h4>
                Quantity:
                <b>@Model.Quantity</b>
            </h4>
        </p>
    </div>
    <div class="container mt-6 mb-6">
        <div class="text-center mt-6 mb-6">
            @*            <img class="" style="width: 20rem;"
            src="@img" alt="Weapon Image">*@
            <div class="mt-6 mb-6 text-center">
                <p>
                    <h4>
                        Price:
                        <b>
                            @Model.Price credits
                        </b>
                    </h4>
                </p>
            </div>
        </div>
    </div>
    <div class="text-center">
        @if (Model.VendorName != null)
        {
            <p>
                <h4>
                    Vendor:
                    <b>
                        <a class="btn btn-primary btn-info" asp-controller="Vendors" asp-action="Details" asp-route-id="@Model.VendorId.Value"> @Model.VendorName</a>
                    </b>
                </h4>
            </p>
        }
    </div>
</article>