@model AmmoBoxListModel

@*@{
    string img = @Model.ImageUrl != null ? @Model.ImageUrl : $"/img/Default/AmmoBoxes/{Model.}.jpg";
}*@
<div class="col-md-4 mt-3">
    <div class="card mb-3">
        @*        <div class="text-center">
        <img style="height:250px;" class="card-img-top" src="@img" alt="Clothing Image">
        </div>*@
        <div class="card-body text-center">
            <h4 class="text-center">@Model.Name</h4>

            <h6>Ammo amount: <b>@Model.Amount</b></h6>
            <h6>Quantity: <b>@Model.Quantity left</b></h6>
            <h6>Price: <b>@Model.Price credits</b></h6>
            <br />
            <a asp-area="Player" asp-controller="AmmoBoxes" asp-action="Details" asp-route-id="@Model.Id"
               class="btn btn-primary">
                <i class="bi bi-info"></i>
                Details
            </a>
            @if (ViewBag.CanBuy)
            {
                <a asp-area="Player" asp-controller="AmmoBoxes" asp-action="Buy" asp-route-id="@Model.Id"
               class="btn btn-success">
                    <i class="bi bi-cart4"></i>
                    Buy
                </a>
            }
            else
            {
                <button class="btn btn-success" disabled>
                    <i class="bi bi-cart4"></i>
                    Buy
                </button>
            }
        </div>
    </div>
</div>
