@using AirsoftMatchMaker.Infrastructure.Data.Enums;
@model GameListModel

@{
    string img = @Model.MapImageUrl != null ? @Model.MapImageUrl : $"/img/Default/Maps/{Model.TerrainType}.jpg";
    string altImg = $"/img/Default/Maps/{Model.TerrainType}.jpg";
}
<div class="col-md-4 mt-3">
    <div class="card mb-3 ">
        <div class="text-center">
            <img style="height: 150px;" class="card-img-top" src="@img" alt="Map Image">
        </div>
        <div class="card-body text-center text-white bg-dark bg-opacity-25">
            <div class="text-white">
                <h4 class="text-center">@Model.Name</h4>
                <h6><b>@Model.Odds</b></h6>
                <h6><b>@Model.Date.ToShortDateString()</b></h6>
                <h6>Gamemode: <b>@Model.GameModeName</b> </h6>
                <h6><b>@Model.Result</b></h6>
                <h6>Map: <b>@Model.MapName</b></h6>
            </div>
            <br />
            <a asp-controller="Games" asp-action="Details" asp-route-id="@Model.Id"
               class="btn btn-primary">
                Details
            </a>
        </div>
    </div>
</div>
