@using System.Text.RegularExpressions;
@model ClothingViewModel

@{
    ViewBag.Title = "Buy Clothing";
}

<h2 class="text-center">@ViewBag.Title</h2>


<div class="container" style="display:inline">
    <div class="row">
        <div class="card col-8 border-0">
            <p style="font-size:25px;">@Model.Name</p>
            <p>
                Description: @Model.Description
            </p>
            <p>
                Color:
                <b>@string.Join(" ", Regex.Matches(Model.ClothingColor.ToString(), "[A-Z][a-z]*").Select(m => m.Value).ToArray())</b>
            </p>

            @if (Model.VendorName != null)
            {
                <p>
                    Vendor:
                    <b>
                        <a class="btn btn-primary btn-info" asp-controller="Vendors" asp-action="Details" asp-route-id="@Model.VendorId.Value"> @Model.VendorName</a>
                    </b>
                </p>
            }
            <p>
                Price:
                <b>
                    @Model.Price credits
                </b>
            </p>
            <form asp-controller="Clothes" asp-action="Buy" asp-route-clothingId="@Model.Id" asp-route-vendorId="@Model.VendorId" method="post">
                <button class="btn btn-success">Buy</button>
            </form>
        </div>
    </div>
</div>