@model AmmoBoxListModel

@*@{
    string img = @Model.ImageUrl != null ? @Model.ImageUrl : $"/img/Default/Clothes/{Model.ClothingColor}.jpg";
}*@
<div class="col-md-4 mt-3">
    <div class="card mb-3 bg-dark bg-opacity-10">
@*        <div class="text-center">
            <img style="height:250px;" class="card-img-top" src="@img" alt="Clothing Image">
        </div>*@
        <div class="card-body text-center bg-white bg-opacity-50">
            <h4 class="text-center">@Model.Name</h4>

            <h6>Ammo amount: <b>@Model.Amount</b></h6>
            <h6>Quantity: <b>@Model.Quantity left</b></h6>
            <h6>Price: <b>@Model.Price credits</b></h6>
            <br />
            <a asp-controller="AmmoBoxes" asp-action="Details" asp-route-id="@Model.Id"
               class="btn btn-primary">
                <i class="bi bi-info"></i>
                Details
            </a>
        </div>
    </div>
</div>
