@using System.Text.RegularExpressions;
@model MatchmakerViewModel

@{
    ViewBag.Title = "Matchmaker Details";
}

<h2 class="text-center">@ViewBag.Title</h2>


<div class="container" style="display:inline">
    <div class="row">
        <div class="card col-8 border-0">
            <p style="font-size:25px;">@Model.UserName</p>
            <div class="container">
                <h2>Games organised</h2>
                @foreach (var game in Model.OrganisedGames)
                {
                    <a class="btn" asp-controller="Games" asp-action="Details" asp-route-id="@game.Id">

                        <div class="card" style="width: 18rem;">
                            <div class="card-body">
                                <h5 class="card-title">@game.Name</h5>
                                <p class="card-text">@game.Date</p>
                                <p class="card-text">@game.Result</p>
                                <p class="card-text">Status: @game.GameStatus</p>
                            </div>
                        </div>
                    </a>
                }
            </div>
        </div>
    </div>
</div>
