@model PlayerViewModel

@{
    ViewBag.Title = "Player Details";
}
<h1 class="text-center mt-3 mb-3">@Model.UserName</h1>
<article class="mt-3 mb-3 bg-white bg-opacity-25 border border-dark">
    <div class="text-center">
        <p>
            <h4>
                Skill Level:
                <b>
                    @Model.SkillLevel
                </b>
            </h4>
        </p>


        <p>
            <h4>
                Class:
                <b>
                    @Model.PlayerClassName
                </b>
            </h4>
        </p>
    </div>
    <div class="text-center mt-3 mb-3">
        @if (ViewBag.PlayerTeam != null)
        {
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#teamModal">
                Team Details
            </button>

            <!-- Modal -->
            <div class="modal fade" id="teamModal" tabindex="-1" aria-labelledby="teamModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <partial name="_TeamDetailsPartial" model="ViewBag.PlayerTeam" />
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
    <section class="text-center mt-5 mb-5">
        <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseWeapons" aria-expanded="false" aria-controls="collapseWeapons">
            <h5>Weapons : @Model.Weapons.Count </h5>
        </button>
        <div class="collapse" id="collapseWeapons">
            <div class="row">
                @foreach (var weapon in Model.Weapons)
                {
                    <partial name="_WeaponMinPartial" model="@weapon" />
                }
            </div>
        </div>
    </section>
    <hr />
    <section class="text-center mt-3 mb-3">
        <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseClothes" aria-expanded="false" aria-controls="collapseClothes">
            <h5>Clothes: @Model.Clothes.Count </h5>
        </button>
        <div class="collapse" id="collapseClothes">
            <div class="row">
                @foreach (var clothing in Model.Clothes)
                {
                    <partial name="_ClothingMinPartial" model="@clothing" />
                }
            </div>
        </div>
    </section>
</article>